.grid-container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px 50px 50px;
    margin-right: 125px;
    margin-left: 125px;
}

p{
    text-align: center;
}

.grid-item{
    text-align: center;
}

.grid-item1{
    background-color:yellow;
}

.grid-item2{
    background-color:pink;
}

.grid-item3{
    background-color:red;
}

.grid-item4{
    background-color:blue;
}

.grid-item5{
    background-color:purple;
}

.grid-item6{
    background-color:green;
}

.grid-item7{
    background-color:cyan;
}