.flex-container{
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    flex-direction: column-reverse;
}

.flex-child{
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-width: 3px;
    border-style: solid;
    border-color: green;
}