.afbeelding{width: 100px; height: 100px;}
.h1 {
    position:absolute;
    top:0px;
    left:125px;
    letter-spacing:15px;
}
.afbeelding2{
    position: absolute;
    top:0px;
    left:500px;
    width: 100px; 
    height: 100px;
}
.h2{
    position: absolute;
    top:0px;
    left:625px;
    letter-spacing: 15px;
}
.tekst{
    position: absolute;
    top:125px;
    left:0px;
    width:500px;
    letter-spacing: 25px;
}
.tekst2{
    position: absolute;
    top:125px;
    left:625px;
    width: 500px;
    letter-spacing: 25px;
}