.flex-container{
    width: 800px;
    height: 510px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.flex-child{
    text-align: center;
    line-height: 504px;
    border-width: 3px;
    border-style: solid;
    border-color: green;
}